/*-- Global --*/

@media screen and (max-width: 1120px) {
    .container {
        width: 95%;
    }
}

@media screen and (max-width: 900px) {
    .container-small {
        width: 100%;
        padding: 50px 0;
    }
}

/*-- Section 1 --*/

@media screen and (max-width: 1180px) {
    #section1 .right {
        width: 45%;
    }
}

@media screen and (max-width: 991px) {
    #section1 {
        height: 100%;
        background-color: #151b2b;
        color: white;
    }

    #section1 .container {
        flex-direction: column;
        padding-top: 150px;
    }

    #section1 .left {
        width: 80%;
    }

    #section1 .h1 {
        margin-right: 0px;
        margin-bottom: 15px;
    }

    #section1 .h2 {
        text-align: center;
    }

    #section1 .p {
        max-width: none;
        padding-left: 0px;
        text-align: center;
    }

    #section1 .row-button {
        justify-content: center;
    }

    #section1 .right {
        height: 700px;
    }
}

/*-- Section 2 --*/

@media screen and (max-width: 900px) {
    .container-small {
        width: 100%;
        padding: 50px 0;
    }

    #section2 .image-wrapper img {
        width: 95%;
    }
}

/*-- Section 3 --*/

@media screen and (max-width: 900px) {
    #section2 .carbon-code img:nth-child(1) {
        width: 95%;
    }
}

@media screen and (max-width: 500px) {
    section#section3 .row-button {
        flex-direction: column;
    }

    section#section3 .row-button button {
        width: 225px;
        justify-content: center;
    }

    section#section3 .row-button button:nth-child(1) {
        margin-bottom: 20px;
        margin-right: 0px;
    }
}

/*-- Section 4 --*/

@media screen and (max-width: 950px) {
    section#section4 .row {
        justify-content: space-around;
    }

    section#section4 .bloc {
        max-width: 350px;
    }

    section#section4 .row:nth-child(2) .bloc:nth-child(2) img {
        width: 100%;
    }
}

@media screen and (max-width: 769px) {
    section#section4 .row {
        flex-direction: column;
        align-items: center;
        margin-bottom: 0px;
    }

    section#section4 .bloc {
        max-width: 650px;
        text-align: center;
        margin-bottom: 75px;
    }

    section#section4 .row:nth-child(2) .bloc:nth-child(2) img {
        max-width: 100%;
    }
}